/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HomePage */


 ul li {
  font-size: 16px;
  line-height: 1.8;
  list-style-position: inside;
}

.stories {
  padding-bottom: 23px;
}

/* About */

header {
  background-color:white;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
}
header #logo img {
  max-width: 100px;
  vertical-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  color: #FF3C96; /* Pink color for the text */
  text-decoration: none;
}

nav a:active, nav a:focus {
  color: black; /* Black color when clicked */
  outline: none; /* Removes outline */
}

main {
  margin: 20px auto;
  max-width: 900px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
section {
  margin-bottom: 30px;
}
section h2 {
  font-size: 22px;
  color: #0073e6;
  border-bottom: 2px solid #FF3C96;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
section p {
  font-size: 16px;
  line-height: 1.8;
}

#programs .program p {
  font-size: 14px;
}

#donate {
  text-align: center;
  background-color: #0073e6;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

#donate h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

#donate p {
  font-size: 16px;
}



/* CSS for the Slide Show*/
/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  background-color: #0073e6;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

